################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Saper/.vs/Saper/v17/Browse.VC.opendb
